# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/*
!.vscode/extensions.json
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sw?

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
